__pycache__/
*.py[cod]
*$py.class
venv/
env/
ENV/
.venv/
db.sqlite3
*.sqlite3
/staticfiles/
/static/
/media/
*.log
.env
*.env
.vscode/
.idea/
.DS_Store
Thumbs.db
build/
dist/
*.egg-info/
**/migrations/**/
!**/migrations/__init__.py
runs/
weights/
*.pt
*.onnx
*.engine
*.mlmodel
datasets/
data/
labels/
images/
*.cache
.ipynb_checkpoints/
results.csv
event*.*
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/build
/app/build
/captures
.externalNativeBuild
.cxx
local.properties
*.keystore
*.jks
*.apk
*.aar
*.ap_
*.aab
google-services.json
